/*
font-family: 'Playfair Display', serif;
font-family: 'Roboto Slab', serif;
font-family: 'Taviraj', serif;
*/

* {
    margin: 0;
}

.body{
    font-family: 'Montserrat', sans-serif;
    
}

.my-title{
    text-align: center;
    margin: 10px;
    padding: 10px;
    font-weight: bolder;
    text-decoration: underline;
    color:  #EB8A90 ;
}

.my-subtitle{
    font-weight: lighter;
    opacity: 0.5;
    color: #2D82B7;
    text-align: center;
}

.subtitle{
    margin: 10px;
    padding: 5px;
    border: 2px solid;
    border-color: #e4b6b9 ;
    box-shadow: 2px 3px 2px 3px #f0ebeb;
    max-width: max-content;
    color:  #EB8A90 ;
}

.subtitle:hover{
    border-color: #eeeeee ;
    color: #e6cccc;
}
.container{
    border: 2px solid;
    border-color: #2D82B7;
    border-radius: 30px;
    margin: 10px;
    padding: 5px;
}
.colors-container {
    display: flex;
}
.color-box {
    margin: 10px;
    border: 1px solid;
    border-color: #5c6880;
    border-radius: 25px;
    text-align: center;
    box-shadow: 2px 2px 2px 2px #c7d4ec;
    height: 200px;
}

.midnight {
    justify-content: space-around;
    flex: 1;
    background-color: #07004D;
    color:#F1DEDE;
}
.blueberry{
    justify-content: space-around;
    flex: 1;
    background-color: #3287bd;
}

.pistacchio{
    justify-content: space-around;
    flex: 1;
    background-color: #cbece3;
}
.rose{
    justify-content: space-around;
    flex: 1;
    background-color: #eeeeee;

}
.coral{
    justify-content: space-around;
    flex: 1;
    background-color: #EB8A90;
}

.p {
    font-size: 0.5px;
    font-weight: lighter;
}

.fonts-container{
    display: flex;
    align-content: center;
}

.font-box{
    text-align: left;
    padding: 5px;
    margin: 3px;
    width: 40%;
    border: 2px solid;
    border-color: #eeeeee;
    border-radius: 15px;
    background-color: #cbece3;
    color: black;
}

.font-name{
    text-decoration-line: underline;
}
.size-bold{
    font-weight: bold;
}
.size-italic{
    font-style: italic;
}
.size-regular{
    font-style: normal;
}

.roboto-slab {
    font-family: 'Roboto Slab', serif;
}

.playfair {
    font-family: 'Playfair Display', serif;
}

.taviraj{
    font-family: 'Taviraj', serif;
}


.style-box{
    padding: 5px;
    margin: 5px;
    color: #07004D;
}

.title{
    font-family: 'Taviraj', serif;
    font-size: 26px;
    font-weight: 700;
}
.title h1{
    text-decoration: underline;
}

.subheading{
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: 400;
}
.subheading h2{
    text-decoration: underline;
}

.paragraph{
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    font-weight: 300;
}
.paragraph p{
    text-decoration: underline;
}

footer li{
    list-style: none;
    text-align: center;
    margin: 5px;
    background-color: #cbece3;
    padding: 10px;
    font-size: 20px;
    font-weight: 400;
    color:  #07004D ;
    border: 1px solid;
    border-color: #07004D;
    border-radius: 30px;
}

footer li:hover{
    border-color: #eeeeee;
    color: #e6cccc;
}
